<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Coolpay Portal</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/recipients/index">Recipents</a></li>
        <li><a href="/payments/index">Payments History</a></li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="pull-right"><a class="btn btn-success" href="/recipients/new">Add Recipient</a></h2>
      <h2>Recipients</h2>
      <ul class="list-group">
        <% if @recipients != nil %>
        <% @recipients.each do |recipient| %>
        <li class="list-group-item">
          <span class="pull-right">
            <a class="btn btn-primary btn-xs" href="/payments/new?recipient_id=<%= recipient.id %>&recipient_name=<%= recipient.name %>">Pay</a>
          </span>
          <%= recipient.name %>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
</div>
